name: Application Deployment Pipeline

permissions:
  id-token: write
  contents: write

on:
  push:
    branches:
      - main
      - "task/**"
      - "dependabot/**"
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7:Inputs reviewed and approved
    inputs:
      tag:
        description: "Specify the tag to be used for deployment"
        required: true
        type: string
      application_tag:
        description: "Specify the application tag to be used for deployment"
        required: true
        type: string
      environment:
        description: "Deployment environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
          - sandpit
          - int
          - prod

jobs:
  metadata:
    name: "Get CI/CD metadata"
    uses: ./.github/workflows/metadata.yaml

  quality-checks:
    name: "Quality checks for ${{ needs.metadata.outputs.environment }} deployment"
    needs:
      - metadata
    uses: ./.github/workflows/quality-checks.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      stacks: "['database', 'crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui']"
      type: app
      build_datetime: ${{ needs.metadata.outputs.build_datetime }}
      build_timestamp: ${{ needs.metadata.outputs.build_timestamp }}
    secrets: inherit

  build-services:
    name: "Build ${{ matrix.name }}"
    needs:
      - metadata
      - quality-checks
    strategy:
      matrix:
        include:
          - name: "python"
            build_type: "package"
          - name: "crud-apis"
            build_type: "service"
          - name: "data-migration"
            build_type: "service"
          - name: "read-only-viewer"
            build_type: "service"
          - name: "etl-ods"
            build_type: "service"
          - name: "dos-search"
            build_type: "service"
          - name: "dos-ui"
            build_type: "service"
    uses: ./.github/workflows/build-project.yaml
    with:
      name: ${{ matrix.name }}
      build_type: ${{ matrix.build_type }}
      python_version: ${{ needs.metadata.outputs.python_version }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      environment: ${{ needs.metadata.outputs.mgmt_environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      application_tag: ${{ inputs.application_tag || 'latest' }}
      type: app
    secrets: inherit

  perform-code-analysis:
    name: "Perform static code analysis"
    needs:
      - metadata
      - build-services
    uses: ./.github/workflows/static-code-analysis.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
    secrets: inherit

  plan-infrastructure:
    name: "Plan ${{ needs.metadata.outputs.environment }} application infrastructure deployment"
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}"
      cancel-in-progress: false
    needs:
      - metadata
      - build-services
      - perform-code-analysis
    uses: ./.github/workflows/deploy-infrastructure.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      stacks: "['database', 'crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui']"
      application_tag: ${{ inputs.application_tag || 'latest' }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      action: plan
      type: app
    secrets: inherit

  manual-approval:
    name: "Manual approval for ${{ needs.metadata.outputs.environment }} deployment"
    if: ${{ needs.plan-infrastructure.outputs.plan_result == 'true' }}
    needs:
      - metadata
      - plan-infrastructure
    runs-on: ubuntu-latest
    environment: "${{ needs.metadata.outputs.environment }}-protected"
    steps:
      - name: Approval required
        run: echo "${{ needs.metadata.outputs.environment }} deployment paused for manual approval. Please approve in the Actions tab."

  apply-infrastructure:
    name: "Apply ${{ needs.metadata.outputs.environment }} application infrastructure"
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}"
      cancel-in-progress: false
    needs:
      - metadata
      - manual-approval
    uses: ./.github/workflows/deploy-infrastructure.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      stacks: "['database', 'crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui']"
      application_tag: ${{ inputs.application_tag || 'latest' }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      action: apply
      type: app
      workflow_timeout: 30
    secrets: inherit

  migrate-data:
    name: "Run ETL process in ${{ needs.metadata.outputs.environment }}"
    if: github.ref == 'refs/heads/main' && needs.metadata.outputs.environment != 'prod'
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}"
      cancel-in-progress: false
    needs:
      - metadata
      - apply-infrastructure
    uses: ./.github/workflows/migrate-data.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      function_name: "ftrs-dos-${{ needs.metadata.outputs.environment }}-data-migration-queue-populator-lambda"
      queue_name: "ftrs-dos-${{ needs.metadata.outputs.environment }}-data-migration-dms-events"
      type: app
    secrets: inherit

  export-dynamodb-to-s3:
    name: "Export DynamoDB tables to S3 in ${{ needs.metadata.outputs.environment }}"
    if: github.ref == 'refs/heads/main' && needs.metadata.outputs.environment != 'prod'
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}"
      cancel-in-progress: false
    needs:
      - metadata
      - migrate-data
    uses: ./.github/workflows/manage-dynamodb-data.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      type: app
      action: export
    secrets: inherit

  restore-dynamodb-from-s3:
    name: "Restore data from S3 to DynamoDB tables in ${{ needs.metadata.outputs.workspace }}"
    if: needs.metadata.outputs.workspace != 'default' && needs.metadata.outputs.environment != 'prod'
    needs:
      - metadata
      - apply-infrastructure
    uses: ./.github/workflows/manage-dynamodb-data.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      action: import
      type: app
    secrets: inherit

  deploy-frontend-services:
    name: "Deploy ${{ matrix.name }} to ${{ needs.metadata.outputs.environment }}"
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}-${{ matrix.name }}"
      cancel-in-progress: false
    needs:
      - metadata
      - apply-infrastructure
    strategy:
      matrix:
        include:
          - name: "dos-ui"
          - name: "read-only-viewer"
    uses: ./.github/workflows/deploy-frontend-project.yaml
    with:
      name: ${{ matrix.name }}
      build_type: "service"
      python_version: ${{ needs.metadata.outputs.python_version }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      environment: ${{ needs.metadata.outputs.environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      application_tag: ${{ inputs.application_tag || 'latest' }}
      type: "app"
    secrets: inherit

  deploy-data-migration-service:
    name: "Deploy data migration service to ${{ needs.metadata.outputs.environment }}"
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-data-migration-${{ needs.metadata.outputs.workspace }}"
      cancel-in-progress: false
    needs:
      - metadata
      - apply-infrastructure
    uses: ./.github/workflows/deploy-data-migration-project.yaml
    with:
      name: "data-migration"
      build_type: "service"
      python_version: ${{ needs.metadata.outputs.python_version }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      environment: ${{ needs.metadata.outputs.environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      application_tag: ${{ inputs.application_tag || 'latest' }}
      type: "app"
    secrets: inherit

  service-automation-tests:
    name: "Run service automation tests on ${{ needs.metadata.outputs.environment }}"
    needs:
      - metadata
      - manual-approval
      - apply-infrastructure
      - restore-dynamodb-from-s3
      - export-dynamodb-to-s3
    if: |
      always() &&
      !cancelled() &&
      (
        needs.restore-dynamodb-from-s3.result == 'success' ||
        (
          needs.restore-dynamodb-from-s3.result == 'skipped' &&
          (needs.export-dynamodb-to-s3.result == 'success' || needs.manual-approval.result == 'skipped')
        )
      )
    uses: ./.github/workflows/service-automation-test.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      tag: ${{ inputs.tag }}
      test_tag: "ftrs-pipeline"
      test_type: "api"
      type: app
    secrets: inherit

  generate-prerelease:
    name: "Generate prerelease tag"
    needs:
      - deploy-frontend-services
      - service-automation-tests
    if: >
      always() &&
      github.event_name == 'push' &&
      github.ref == 'refs/heads/main' &&
      needs.deploy-frontend-services.result == 'success' &&
      needs.service-automation-tests.result == 'success'
    uses: ./.github/workflows/generate-prerelease.yaml
    secrets: inherit

  check-pipeline-status:
    name: "Check Pipeline Status"
    needs:
      - deploy-frontend-services
      - deploy-data-migration-service
      - service-automation-tests
      - export-dynamodb-to-s3
    if: always()
    uses: ./.github/workflows/pipeline-status-check.yaml

  slack-notifications:
    name: "Send Notification to Slack"
    needs:
      - metadata
      - quality-checks
      - build-services
      - plan-infrastructure
      - manual-approval
      - apply-infrastructure
      - migrate-data
      - export-dynamodb-to-s3
      - restore-dynamodb-from-s3
      - deploy-frontend-services
      - deploy-data-migration-service
      - service-automation-tests
      - generate-prerelease
      - check-pipeline-status
    if: always()
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: ${{ needs.metadata.outputs.environment }}
    secrets: inherit
