name: Cleardown Paused Workflow Runs Pipeline

permissions:
  actions: write
  id-token: write
  contents: read
on:
  # Run daily, at 19:00.
  schedule:
    - cron: "0 19 * * *"

jobs:
  cancel_paused_runs:
    name: "Cancel paused workflow runs"
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v5

      - name: "Install jq"
        run: sudo apt-get install -y jq

      - name: "Cancel workflow runs"
        id: "cancel_runs"
        env:
          GH_TOKEN: ${{ github.token }}
        shell: bash
        run: |
          export REPO="${{ github.repository }}"
          /bin/bash ./scripts/workflow/cancel-paused-workflows.sh

  slack-notifications:
    needs:
      - cancel_paused_runs
    if: always()
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: dev
    secrets: inherit
