name: Build release tag and artifacts

# checkov:skip=CKV_GHA_7:Workflow dispatch inputs are required for manual triggering with environment selection
on:
  workflow_dispatch:

  push:
    branches:
      - task/FTRS-348_Deploy_release_workflow

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:
  metadata:
    name: "Get CI/CD metadata"
    uses: ./.github/workflows/metadata.yaml

  quality-checks:
    name: "Quality checks for ${{ needs.metadata.outputs.environment }} deployment"
    needs:
      - metadata
    uses: ./.github/workflows/quality-checks.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      stacks: "['database', 'crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui']"
      type: app
    secrets: inherit

  tag-release:
    name: "Generate the next release tag"
    needs:
      - quality-checks
    runs-on: ubuntu-latest
    outputs:
      release_tag: ${{ steps.set-full-tag.outputs.release_tag }}
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3

      - name: "Run Semantic Release"
        id: semantic-release
        uses: cycjimmy/semantic-release-action@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Build full reference to new tag for semantic version"
        id: set-full-tag
        run: |
          echo "The semantic version is: ${{ steps.semantic-release.outputs.new_release_version }}"
          echo "release_tag=v${{ steps.semantic-release.outputs.new_release_version }}" >> $GITHUB_OUTPUT

  build-release-artifacts:
    name: "Build ${{ matrix.name }}"
    needs:
      - metadata
      - tag-release
      - quality-checks
    strategy:
      matrix:
        include:
          - name: "python"
            build_type: "package"
          - name: "crud-apis"
            build_type: "service"
          - name: "data-migration"
            build_type: "service"
          - name: "read-only-viewer"
            build_type: "service"
          - name: "etl-ods"
            build_type: "service"
          - name: "dos-search"
            build_type: "service"
          - name: "dos-ui"
            build_type: "service"
    uses: ./.github/workflows/build-project.yaml
    with:
      name: ${{ matrix.name }}
      build_type: ${{ matrix.build_type }}
      python_version: ${{ needs.metadata.outputs.python_version }}
      commit_hash: ${{ needs.tag-release.outputs.release_tag }}
      environment: ${{ needs.metadata.outputs.mgmt_environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      application_tag: ${{ needs.tag-release.outputs.release_tag }}
      release_build: true
      type: app
    secrets: inherit
